{% extends 'base.html' %}
{% load omfilters %}

{% block content %}

   <!-- ===== Start of Popular Categories Section ===== -->
    <section class="ptb80" id="categories">
        <div class="container">

            <div class="section-title">
                <h2>sub categorias</h2>
            </div>

            <div class="row nomargin">

                {% for category in categories %}

                <!-- Start of Category div -->
                <div class="col-md-3 col-sm-6 col-xs-12 cat-wrapper">
                    <div class="category ptb30">

                        <!-- Icon -->
                        <div class="category-icon">
                            <i class="fa fa-folder-open"></i>
                        </div>

                        <!-- Category Info - Title -->
                        <div class="category-info pt30">
                            <a href="{% url 'categories:details' category.parent category.slug %}">{{ category.name }}</a>
                            <p>
                                <span>{{ category.count_stores }} loja(s)</span>
                            </p>
                        </div>

                        <!-- Category Description -->
                        <div class="category-descr">
                            <span>{{ category.summary }}</span>
                        </div>

                    </div>
                </div>
                <!-- End of Category div -->

                 {% endfor %}

            </div>

                {% include '_pagination.html' %}

        </div>
    </section>
    <!-- ===== End of Popular Categories Section ===== -->

{% endblock %}