{% extends 'base.html' %}
{% load omfilters %}

{% block content %}

    <!-- ===== Start of Category Details Section ===== -->
    <section class="ptb80" id="latest-news">
        <div class="container">

            <!-- Section Title -->
            <div class="section-title">
                <h2>Lojas Relacionadas</h2>
            </div>

            {% for store in stores %}
            <!-- Start of Blog Post -->
            <div class="col-md-4 col-xs-12">
                <div class="blog-post">

                    {% if store.image %}
                    <!-- Blog Post Image -->
                    <div class="blog-post-thumbnail">
                        <a href="{% url 'store:list' store.slug %}" class="hover-link">
                            <img src="{{ store.image.url }}" alt="{{ store.name }}">
                        </a>
                    </div>
                    {% endif %}

                    <!-- Blog Post Info -->
                    <div class="post-info">
                        <a href="{% url 'store:list' store.slug %}">{{ store.name }}</a>
                        <p>{{ store.slogan }}</p>
                    </div>

                    <!-- Read More Button -->
                    <a href="{% url 'store:list' store.slug %}" class="btn btn-blue btn-small btn-effect">visitar loja</a>

                </div>
            </div>
            <!-- End of Blog Post -->
            {% endfor %}

            {% include '_pagination.html' %}

        </div>
    </section>
    <!-- ===== End of Category Details Section ===== -->

{% endblock %}