{% load static %}<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">

    <!-- Mobile viewport optimized -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">

    <!-- Meta Tags - Description for Search Engine purposes -->
    <!-- TODO: Description and keywords from page specific SEO -->
    <meta name="description" content="Levo em .Casa - Busca de produtos e servicos com entrega">
    <meta name="keywords" content="produtos, servicos, entregas">
    <meta name="author" content="appainter.net">

    <!-- Website Title -->
    <title>Levo em .casa</title>
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/apple-touch-icon.png' %}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,700,800|Varela+Round" rel="stylesheet">

    <!-- CSS links -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/responsive.css' %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    {% include '_nav.html' %}


        {% block content %}{% endblock %}


    {% include '_footer.html' %}

</body>

</html>